.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: var(--contentLineHeight);
  margin: 0 auto 3rem;
  max-width: var(--maxContentWidth);
  padding: 0 var(--pageSpacing);
}

.npmLogo {
  height: 2rem;
  margin-right: 1rem;
  width: 2rem;
}

.pckgName {
  font-weight: bold;
}

.externalLinks {
  margin-left: 3rem;
  width: 100%;
}

.externalLink {
  margin-right: 0.75rem;
}
