<aside class="feed-links">
  <h2 class="aside">Subscribe to new posts</h2>
  <ul class="feed-links__list">
    <li class="feed-links__item">
      <a href="/rss.xml">RSS</a>
    </li>
    <li class="feed-links__item">
      <a href="/atom.xml">Atom</a>
    </li>
    <li class="feed-links__item">
      <a href="/feed.json">JSON Feed</a>
    </li>
  </ul>
</aside>