<nav class="main-nav">
    <ul class="main-nav__list">
      <li class="main-nav__item">
        <a class="main-nav__link" href="/">
          Blog
        </a>
      </li>
      <li class="main-nav__item">
        <a class="main-nav__link" href="/projects">
          Projects
        </a>
      </li>
      <li class="main-nav__item">
        <a class="main-nav__link" href="/about">
          About
        </a>
      </li>
    </ul>
  </nav>