<aside class="social-media-aside">
  <div class="social-media-aside__content">
    You can also follow me on
    <a rel="me" href="https://micro.florian.ec">Micro.blog</a>, <a rel="me" href="https://mastodon.social/@florianec">Mastodon</a> and <a rel="me" href="https://twitter.com/Florian_">Twitter</a>.
  </div>
</aside>