<aside class="social-media">
  <div class="social-media__content">
    You can also follow me on
    <a rel="me" href="https://micro.florian.ec">Micro.blog</a> and <a rel="me" href="https://mastodon.social/@florianec">Mastodon</a>.
  </div>
</aside>