.concert-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 1rem;

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
  }

  &__year {
    align-items: center;
    display: flex;
    justify-content: center;

    @media (min-width: 640px) {
      grid-column: span 2;
    }
  }
}
