<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/images/apple-touch-icon-167.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-touch-icon-120.png">
  </head>
  <body>
    <div class="body">
      <a href="#main" class="visually-hidden">
      Go to content
    </a>
      {% include 'header.njk' %}
      {% include 'main-nav.njk' %}
      <div class="main-wrapper">
        <main id="main" class="main" tabIndex={-1} role="main">
          {% block main %}{% endblock %}
        </main>
      </div>
      {% include 'footer.njk' %}
    </div>
  </body>
</grml>
