<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/images/apple-touch-icon-167.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-touch-icon-120.png">

    <meta name="description" content="{{ renderData.description or description or metadata.description }}">

    <link rel="alternate" href="/atom.xml" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="/rss.xml" type="application/rss+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="/feed.json" type="application/json" title="{{ metadata.title }}">
  </head>
  <body>
    <div class="body">
      <a href="#main" class="visually-hidden">
      Go to content
    </a>
      {% include 'header.njk' %}
      {% include 'main-nav.njk' %}
      <div class="main-wrapper">
        {% block main %}{% endblock %}
      </div>
      {% include 'footer.njk' %}
    </div>

    <script type="text/javascript">
      const mainNav = document.querySelector('#main-nav');
      const bg = document.querySelector('#main-nav-background');

      function handleOpenNavEvent(event) {
        event.preventDefault();
        mainNav.classList.add('main-nav--open');
        bg.style.display = 'block';
        window.setTimeout(() => {
          bg.classList.add('main-nav-background--open');
        });
      }

      function handleCloseNavEvent(event) {
        event.preventDefault();
        mainNav.classList.remove('main-nav--open');
        bg.classList.remove('main-nav-background--open');
        window.setTimeout(() => {
          bg.style.display = 'none';
        }, 250);
      }

      document
        .querySelector('#show-main-nav-btn')
        .addEventListener('click', handleOpenNavEvent);

      document
        .querySelector('#hide-main-nav-btn')
        .addEventListener('click', handleCloseNavEvent);

      bg.addEventListener('click', handleCloseNavEvent);
    </script>

    <script data-goatcounter="https://florianec.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  </body>
</grml>
