---
title: Florian Eckerstorfer
---
{% extends 'layouts/layout.njk' %}

{% block main %}
  <article class="page">
    <div class="page__header">
    <h1>{{ title }}</h1>
    <div class="page__meta">
      {{date|date('YYYY')}}
    </div>
    </div>
    <div class="content">
    {{ content | safe }}
    </div>
  </article>
{% endblock %}
