/.sass-cache/
/app/cache/*
/app/config/sculpin_kernel_*.yml
/app/config/sculpin_site_*.yml
/app/logs/*
/components/*
/node_modules/*
/public_*/
/source/.sass-cache/*
/source/css/*
/vendor/
*.sublime-project
*.sublime-workspace
*.css.map
/cv-pdf/*.aux
/cv-pdf/*.fdb_latexmk
/cv-pdf/*.fls
/cv-pdf/*.log
/cv-pdf/*.out
/cv-pdf/*.synctex.gz
/source/img/articles
/source/img/photos
/source/img/projects
/source/img/florian
*.log
