// Article Module
// ==============
//
// Styles for a single article, both on the article page as well as on the article list page.
//


.article {
    margin: {
        top: 1em;
        bottom: 2.5em;
    }

    table {
        border: 1px solid #ccc;
        border-collapse: collapse;
        border-radius: 3px;


        tr {
            border: 0;

            &:nth-child(2n) {
                background: #f8f8f8;
            }
        }

        th {
            text-align: center;
        }

        td {
            border: 0;
            padding: .3em;
        }

    } // table

} // .article

.article__header {
    margin-bottom: 1em;

    h2 {
        margin: 0;
    }

} // .article__header

.article__header__title {
    &:link,
    &:active,
    &:visited {
        text-decoration: none;
    }

} // .article__header__title

.article__header__date {
    color: #666;
    font-size: .7em;
    font-weight: normal;

} // .article__header__date

.article__tags {
    color: #666;
    font-size: $font-xs;
    line-height: 1em;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        background: #efefef;
        display: inline-block;
        border-radius: 3px;
        padding: .3em;
    }

} // .article__tags

.article__feedback {
    background: rgb(250, 250, 250);
    border-radius: 3px;
    font-size: $font-sm;
    margin-top: 2em;
    padding: 1em;

    p {
        margin: 0;
    }

} // .article__feedback
