.cv-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

} // .cv-list

.cv-list__item {
    margin-bottom: 1em;

    .title {
        color: #999;
        font-style: italic;
    }

    strong {
        font-style: normal;
    }

    li {
        margin-bottom: 0;
        padding: 0;
    }

} // .cv-list__item
