.footer {
    font-family: $sans-serif-font;

    p {
        font-size: .8em;
        color: #999;
    }

    .heart {
        color: #ff3669;
    }

} // .footer

.footer__padder {
    padding: 0 1em;

} // .footer__padder
