#highlighted-articles {
    margin-bottom: 0;
}

.frontpage__articles {
    list-style: none;
    margin: {
        left: 1em;
        right: 1em;
        top: 0;
    }
    padding-left: 0;

    li {
        @include clearfix();
    }
}
