.header {
    @include outer-container;

    margin: {
        top: 3em;
        bottom: 2em;
    }
    position: relative;
    z-index: 100;

} // .header

.header__logo {
    padding: 0 1em;

    @include media($tablet) {
        text-align: center;
    }
} // .header__logo
