.header {
    margin-bottom: 2em;
    margin-top: 2em;

    @media screen and (min-width: $media-mobile) {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
} // .header

.header__logo {
    padding: 0 1em;
    text-align: center;

    @media screen and (min-width: $media-mobile) {
    }
} // .header__logo
