.navigation {
    ul {
        margin: 0;
        padding-left: 0;
        text-align: right;
        line-height: 61px;

        @include media($tablet) {
            text-align: center;
        }
    }

} // .top-nav

.navigation__item {
    display: inline-block;

    a {
        font-size: $font-sm;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;

        &:link,
        &:active,
        &:visited {
            border-bottom: 3px solid $link-color;
            color: #333;
            padding: 0 5px;
        }

        &:hover {
            color: $link-color;
        }

    } // a

    &.selected {
        a {
            border-bottom-color: #000;
        }
    }
}

