.playlist {
    background: #efefef;
    margin-bottom: 1rem;
    padding: 20px;

    h3 {
        margin: 0;
        text-align: center;
    }

    &__container {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 10px 0;

        @media (min-width: 640px) {
            flex-direction: row;
        }
    }

    picture {
        width: 100%;

        @media (min-width: 640px) {
            width: 50%;
        }
    }

    &__list {
        font-size: 16px;
        margin: 0;
        width: 100%;

        @media (min-width: 640px) {
            width: 50%;
        }
    }
}

.youtube-video {
    width: 320px;
}
