.projects,
.projects--highlights {
    list-style: none;
    margin: {
        left: 1em;
        right: 1em;
    }
    padding-left: 0;
}

.projects--highlights {
    img {
        box-shadow: 0 0 20px #616161;
    }
}

.projects__project {
    color: #999;
    margin-bottom: .5em;
}

.projects--highlights__project {
    h3 {
        font-size: 1.5em;
        margin: {
            top: 1em;
            bottom: .3em;
        }

        a:link,
        a:active,
        a:visited {
            font-size: .7em;
            font-weight: normal;
        }
    }
}
