.project__screenshots {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    img {
        max-width: 100%;
    }

} // .screenshots

.project__url {
        border: 1px solid #ccc;
        border-radius: 3px;
        display: block;
        font: .9em Inconsolata, 'Courier New', monospace;
        line-height: 100%;
        padding: 5px;
        text-decoration: none;

        &:hover {
            border-color: $link-color;
        }

} // .project__url
