<footer class="footer" role="contentinfo">
    <div class="footer__padder">
        <p>
            <span class="heart">&hearts;</span> 2015 Florian Eckerstorfer.
            Developed and designed in Vienna, Europe.
        </p>
    </div>
</footer>
