<footer class="footer" role="contentinfo">
    <div>
        <p>
            <span class="heart">&hearts;</span> 2014 Florian Eckerstorfer.
            Developed and designed in Vienna, Europe.
        </p>
    </div>
</footer>
