<ul>
    <li class="navigation__item{% if page.url starts with '/articles' %} selected{% endif %}">
        <a href="/articles/">Articles</a>
    </li>
    <li class="navigation__item{% if page.url starts with '/project' %} selected{% endif %}">
        <a href="/projects/">Projects</a>
    </li>
    <li class="navigation__item{% if page.url starts with '/about' %} selected{% endif %}">
        <a href="/about/">About</a>
    </li>
    <li class="navigation__item{% if page.url starts with '/cv' %} selected{% endif %}">
        <a href="/cv/">CV</a>
    </li>
</ul>
