{% extends "default" %}
{% block content_wrapper %}

    {% set article_type = page.type ? page.type : 'default' %}
    {% set article_template = 'article/_'~article_type~'.html.twig' %}

    <article class="article {{ article_type }}">
        {% include article_template with { 'page': page } %}

        <footer class="article__feedback">
            <p>If you have an question or want to provide feedback please feel free to contact me. I am <a href="https://twitter.com/Florian_">@Florian_</a> on Twitter and you can send mails to <a href="mailto:florian@eckerstorfer.co">florian@eckerstorfer.co</a>.</p>
        </footer>
    </article>

{% endblock %}
