<!DOCTYPE html>
<html lang="en">
<head>
    {% include '_head.html.twig' %}
</head>

<body class="layout_default">

<header class="header" role="banner">
    <div class="header__logo">
        <a href="/" title="Homepage">
            <img src="/img/logo.svg" alt="Florian Eckerstorfer" width="58" height="61">
        </a>
    </div>
    <nav class="navigation" role="navigation">
        {% include '_navigation.html.twig' with { 'page': page } %}
    </nav>
</header>


<section class="content">
    <div class="main">
        {% block content_wrapper %}
            {% block content %}No content. Sadface.{% endblock content %}
        {% endblock content_wrapper %}
    </div>
</section>

{% include '_footer.html.twig' %}
{% include '_foot.html.twig' %}

</body>
</html>
