<!DOCTYPE html>
<html lang="en">
<head>
    {% include '_head.html.twig' %}
</head>

<body class="layout_default">

<header class="header" role="banner">
    <a href="/" title="Homepage" class="header__logo">
        <picture>
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source srcset="/img/logo.png, /img/logo@2x.png 2x">
            <!--[if IE 9]></video><![endif]-->
            <img srcset="/img/logo.png, /img/logo@2x.png 2x" alt="Florian Eckerstorfer Logo" width="116" height="121">
        </picture>
    </a>
</header>

<nav class="navigation" role="navigation">
    {% include '_navigation.html.twig' with { 'page': page } %}
</nav>

<section class="content">
    <div class="main">
        {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
    </div>
</section>

{% include '_footer.html.twig' %}
{% include '_foot.html.twig' %}

</body>
</html>
