<!DOCTYPE html>
<html lang="en">
<head>
    {% include '_head.html.twig' %}
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.15.0/mapbox-gl.js"></script>
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.15.0/mapbox-gl.css" rel="stylesheet">
    <style type="text/css">
        #map { bottom: 0; position: absolute; top: 0; width: 100%;}
        .mapboxgl-popup-content { padding-right: 30px; }
        .mapboxgl-popup-content ul { margin: 0; padding-left: 15px; }
    </style>
</head>

<body class="layout_map">

    {% block content_wrapper %}
        {% block content %}No content. Sadface.{% endblock content %}
    {% endblock content_wrapper %}

</body>
</html>
