<!DOCTYPE html>
<html lang="en">
<head>
    {% include '_head.html.twig' %}
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.15.0/mapbox-gl.js"></script>
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.15.0/mapbox-gl.css" rel="stylesheet">
    <style>
        body { margin:0; padding:0; }
        #map { position: absolute; top:0; bottom:0; width:100%; }
    </style>
</head>

<body class="layout_travel">

    {% block content_wrapper %}
        {% block content %}No content. Sadface.{% endblock content %}
    {% endblock content_wrapper %}

</body>
</html>
