<!DOCTYPE html>
<html lang="en">
<head>
    {% include '_head.html.twig' %}
</head>

<body class="layout_wide">

{% if page.blocks.panorama %}
    {{ page.blocks.panorama|raw }}
{% endif %}

<header class="header header_small" role="banner">
    <a href="/" title="Homepage" class="header__logo">
        <picture>
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source srcset="/img/logo-small.png, /img/logo-small@2x.png 2x">
            <!--[if IE 9]></video><![endif]-->
            <img srcset="/img/logo-small.png, /img/logo-small@2x.png 2x" alt="Florian Eckerstorfer Logo" width="58" height="61">
        </picture>
    </a>
    <nav class="navigation" role="navigation">
        <a class="burger-button" href="#">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </a>
        {% include '_navigation.html.twig' with { 'page': page } %}
    </nav>
</header>

<div class="container{% if page.panorama %} container_panorama{% endif %}">
    <section class="content">
        <div class="main">
            {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
        </div>
    </section>

    {% include '_footer.html.twig' %}
</div>

{% include '_foot.html.twig' %}

</body>
</html>
