<!DOCTYPE html>
<html lang="en">
<head>
    {% include '_head.html.twig' %}
</head>

<body class="layout_wide">

<header class="header" role="banner">
    <div class="header__logo">
        <a href="/" title="Homepage">
            <img src="/img/logo.svg" alt="Florian Eckerstorfer" width="58" height="61">
        </a>
        <span class="header__logo__name">Florian Eckerstorfer</span>
    </div>
    <nav class="navigation" role="navigation">
        {% include '_navigation.html.twig' with { 'page': page } %}
    </nav>
</header>

<div class="container{% if page.panorama %} container_panorama{% endif %}">
    <section class="content">
        <div class="main">
            {% block content_wrapper %}
                {% block content %}No content. Sadface.{% endblock content %}
            {% endblock content_wrapper %}
        </div>
    </section>

    {% include '_footer.html.twig' %}
</div>

{% include '_foot.html.twig' %}

</body>
</html>
