---
draft: true
layout: wide-small
title: Prague May 2014
tags: [ photos, travel, prague, czech republic ]
slug: prague-may-2014
panorama:
    image:
        src: /img/photos/prague-may-2014/IMG_6523.jpg
        alt: Prague, May 2014
    headline: Prague
    tagline: May 2014
---

{% block summary %}

In the beginning of May I spent a weekend with some friends in Prague, Czech Republic. Here are some of the photos I took on this weekend.

{% endblock %}

{% block content %}

<p>In the beginning of May I spent a weekend with some friends in Prague, Czech Republic. Due to a late arrival and a thorough exploration of Pragues nightlife I had only half a day to walk around the city. Here are some of the photos I took on this weekend.</p>

{% endblock %}
