.list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  max-width: var(--maxContentWidth);
}

.listItem {
  margin-bottom: 2rem;
}

.link {
  color: var(--violet);
  display: block;
  font: 1.5rem var(--headlineFont);
}

.link:hover {
  text-decoration: none;
}

.meta {
  font-size: var(--smallFontSize);
}

.category {
  background: var(--violet);
  border-radius: 3px;
  color: var(--white);
  margin-right: 0.5rem;
  padding: 0 0.25rem;
}

.date {
  font-style: italic;
}
