---
title: Curriculum vitae
layout: page
---
<div class="content">

  <section id="eduction">
    <h2>Education</h2>

    <ul class="cv-list">
      <li class="cv-list__item">
        <em>Master of Science</em>,
          <strong>Software Engineering &amp; Internet Computing</strong>
        <br>
          Vienna University of Technology, Vienna, AT, January 2018
        </li>
      <li class="cv-list__item">
        <em>Curriculum Supplement</em>, <strong>Innovation</strong>
        <br>
          Vienna University of Technlogy, Vienna, AT, December 2013
        </li>
      <li class="cv-list__item">
        <em>Bachelor of Science</em>,
          <strong>Software &amp; Information Engineering</strong>
        <br>
          Vienna University of Technology, Vienna, AT, September 2011
        </li>
      <li class="cv-list__item">
        <em>Graduation Diploma</em>,
          <strong>
          <em>HLW f&uuml;r Kommunikations- und Mediendesign</em>
        </strong>
          (specialization in communications- and media design)
          <br>
          Schulzentrum der Kreuzschwestern, Linz, June 2006
        </li>
    </ul>
  </section>

  <section id="experience">
    <h2>Experience</h2>
    <ul class="cv-list">
      <li class="csv-list__item">
        <em>Global Head of Web Development</em>, 
        <a href="https://www.rochediabetes.com"><strong>Roche Diabetes Care</strong></a>/
        <a href="https://mysugr.com"><strong>mySugr</strong></a>
        , Vienna, AT, since December 2021
        <ul>
          <li class="cv-list__item__description">
            Guiding and managing a team of software developers (hiring, supervising, personal responsibilities and professional development) accross multiple sites
          </li>
          <li class="cv-list__item__description">
            Developing, documenting and communicating mid- to long-term technological strategy
          </li>
          <li class="cv-list__item__description">
            Developing, documenting and communicating common coding principals, standards, and best practices
          </li>
          <li class="cv-list__item__description">
            Acting as Product Owner for the Web Platform Team, which builds the technical foundation of web-based projects
          </li>
          <li class="cv-list__item__description">
            Designing and implementing software architecture of web-based applications
          </li>
          <li class="cv-list__item__description">
            Planned and developed build, Continious Integration, and Continous Deployment tools
          </li>
          <li class="cv-list__item__description">
            Developing web applications with various technologies
          </li>
          <li class="cv-list__item__description">
            Part of the group that works on continously improving mySugrs way of working (Kaizen)
          </li>
        </ul>
      </li>
      <li class="cv-list__item">
        <em>Head of Web Development</em>,
        <a href="https://mysugr.com"><strong>mySugr</strong></a>
        , Vienna, AT, January 2020 - November 2021
        <ul>
          <li class="cv-list__item__description">
            Guiding and managing a team of software developers (hiring, supervising, personal responsibilities and professional development)
          </li>
          <li class="cv-list__item__description">
            Developing, documenting and communicating mid- to long-term technological strategy
          </li>
          <li class="cv-list__item__description">
            Developing, documenting and communicating common coding principals, standards, and best practices
          </li>
          <li class="cv-list__item__description">
            Acting as Product Owner for the Web Platform Team, which builds the technical foundation of web-based projects
          </li>
          <li class="cv-list__item__description">
            Designing and implementing software architecture of web-based applications
          </li>
          <li class="cv-list__item__description">
            Planned and developed build, Continious Integration, and Continous Deployment tools
          </li>
          <li class="cv-list__item__description">
            Developing web applications with various technologies
          </li>
          <li class="cv-list__item__description">
            Part of the group that works on continously improving mySugrs way of working (Kaizen)
          </li>
        </ul>
      </li>
      <li class="cv-list__item">
        <em>Senior Web Developer</em>,
        <a href="https://mysugr.com"><strong>mySugr</strong></a>
        , Vienna, AT, August 2018 - December 2019
        <ul>
          <li class="cv-list__item__description">
            Developed web applications with React
          </li>
          <li class="cv-list__item__description">
            Developed web sites with React and Next.js
          </li>
          <li class="cv-list__item__description">
            Designed and implemented software architecture
          </li>
          <li class="cv-list__item__description">
            Created build and deployment tools
          </li>
          <li class="cv-list__item__description">
            Technical planned new projects
          </li>
        </ul>
      </li>
      <li class="cv-list__item">
        <em>Frontend &amp; Mobile App Developer</em>,
        <a href="https://www.swell.wtf"><strong>Swell</strong></a>
        , Vienna, AT, January 2017 - June 2018
        <ul>
          <li class="cv-list__item__description">
            Developed web views for chatbots with React and InfernoJS
          </li>
          <li class="cv-list__item__description">
            Developed mobile apps with React Native for iOS and Android
          </li>
          <li class="cv-list__item__description">
            Developed business tools with Angular 2
          </li>
          <li class="cv-list__item__description">
            Developed websites with HTML, CSS and JavaScript
          </li>
        </ul>
      </li>
      <li class="cv-list__item">
        <em>Frontend Developer</em>,
        <a href="https://kiweno.com"><strong>Kiweno GmbH</strong></a>
        , Vienna, AT, April - November 2016
        <ul>
          <li class="cv-list__item__description">
            Developed a responsive web app with HTML, CSS, JavaScript and AngularJS
          </li>
          <li class="cv-list__item__description">
            Developed ecommerce website with WordPress
          </li>
        </ul>
      </li>
      <li class="cv-list__item">
        <em>Web Developer</em>,
        <strong>2bePUBLISHED Internet Services Austria GmbH</strong>,
        Vienna, AT, June 2009 - March 2016
        <ul>
          <li class="cv-list__item__description">
            Frontend Development (HTML, CSS, JavaScript, AngularJS)
          </li>
          <li class="cv-list__item__description">
            Web Development with PHP and Symfony
          </li>
          <li class="cv-list__item__description">
            Web Data Extraction and Business Intelligence
          </li>
        </ul>
      </li>
      <li class="cv-list__item">
        <em>Web Developer</em>,
        <strong>2beFOUND Performance Marketing GmbH</strong>, Vienna, AT, August 2008 - May 2009
        <ul>
          <li class="cv-list__item__description">
            Frontend Development (HTML, CSS, JavaScript)
          </li>
          <li class="cv-list__item__description">
            Web Development with PHP and Symfony
          </li>
        </ul>
      </li>
      <li class="cv-list__item">
        <em>Freelancer</em>, January 2002 - May 2009
        <ul>
          <li class="cv-list__item__description">Frontend Development</li>
          <li class="cv-list__item__description">Web Development</li>
          <li class="cv-list__item__description">Web Design</li>
          <li class="cv-list__item__description">Consulting</li>
        </ul>
      </li>
      <li class="cv-list__item">
        <em>Internship</em>, <strong>Strobl)Kriegner Group</strong>, Linz, AT, August 2004
        <ul>
          <li class="cv-list__item__description">Web Design</li>
          <li class="cv-list__item__description">Print Design</li>
          <li class="cv-list__item__description">Flash Development</li>
        </ul>
      </li>
      <li class="cv-list__item">
        <em>Internship</em>, <strong>CREATEAM Werbeagentur GmbH</strong>, Linz, AT, August 2003, June - July 2004
        <ul>
          <li class="cv-list__item__description">Web Design</li>
          <li class="cv-list__item__description">Print Design</li>
          <li class="cv-list__item__description">Frontend Development</li>
        </ul>
      </li>
    </ul>
  </section>

  <section id="languages">
    <h2>Languages</h2>

    <ul class="cv-list">
      <li class="cv-list__item">
        <strong>German</strong>
        <br>
          mother tongue
        </li>
      <li class="cv-list__item">
        <strong>English</strong>
        <br>
          Excellent reading (C2) and very good writing and speaking skills (C1).
        </li>
      <li class="cv-list__item">
        <strong>Spanish</strong>
        <br>
          Basic reading, writing and speaking skills (A2).
        </li>
    </ul>
  </section>

  <p>
      A PDF version of my CV is also available:
      <a href="/cv.pdf" title="CV Florian Eckerstorfer (PDF format)">cv.pdf</a>.
    </p>
</div>
