---
title: Travel
layout: page
---
<h1>Travel</h1>

<ul class="page-list">
  {%- for travel in collections.travels | reverse -%}
    <li class="page-list__item">
      <article class="page-list__item__article">
        {% if travel.data.link %}
          <span class="page-list__item__icon" role="img" aria-label="link">
            🔗
          </span>
          <a
            href="{{travel.data.link}}"
            class="page-list__item__link"
            target="_blank"
            rel="noopener"
          >
            {{travel.data.title}}
          </a>
        {% else %}
          {{ travel.data.title }}
        {% endif %}
        <div class="page-list__item__meta">
          {{ travel.data.date_start|date('MMMM D, YYYY') }} -
            {{ travel.data.date_end|date('MMMM D, YYYY') }}
        </div>
      </article>
    </li>
  {%- endfor -%}
</ul>