.h2 {
  font: bold var(--h2FontSize) var(--headlineFont);
  margin: 2rem auto;
  max-width: var(--maxContentWidth);
}

.aside {
  font: bold var(--bodyFontSize) var(--bodyFont);
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
