<footer class="footer">
  <p>
      Made with <span class="heart">♥</span> by Florian Eckerstorfer
      in Vienna, Europe. {% currentYear %}.
      <a href="/imprint">Imprint</a>.
      <a href="/privacy">Privacy Policy</a>.
    </p>
</footer>