.top-nav {
  a {
    color: #7B00FD;
    margin: 0 .5rem;

    &:hover {
      text-decoration: none;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
