.project {
  margin-bottom: 2rem;
}

.project:last-child {
  margin-bottom: 0;
}

.titleLink:link,
.titleLink:active,
.titleLink:visited {
  color: var(--violet);
  font: bold 1.5rem var(--headlineFont);
  margin-right: 0.5rem;
}

.titleLink:hover {
  text-decoration: none;
}

.urlLink:link,
.urlLink:active,
.urlLink:visited {
  color: var(--darkGrey);
  font-size: var(--smallFontSize);
}

.urlLink:hover {
  text-decoration: none;
}

.description {
  line-height: var(--contentLineHeight);
}
