.list {
  list-style: none;
  margin: 2rem var(--pageSpacing);
  max-width: var(--maxContentWidth);
  padding: 0;
}

@media screen and (min-width: 640px) {
  .list {
    margin-left: auto;
    margin-right: auto;
  }
}
