.container {
  background: var(--grey-1);
  padding: 1px var(--pageSpacing);
}

.feeds {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0.5rem auto 1rem;
  max-width: var(--maxContentWidth);
  padding: 0;
}

.feed {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-right: 1rem;
}

.feed::after {
  background: black;
  border-radius: 3px;
  content: '';
  display: block;
  height: 6px;
  margin-left: 1rem;
  width: 6px;
}

.feed:last-child {
  margin-right: 0;
}

.feed:last-child::after {
  display: none;
}

@media screen and (min-width: 640px) {
  .container {
    padding-left: auto;
    padding-right: auto;
  }
}
