@import '../../variables.scss';

* {
  box-sizing: border-box;
}

body {
  font: 16px 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

pre[class*="language-"] {
  @media (min-width: $content-width) {
    border-radius: 3px;
  }
}

a {
  color: $primary-color;

  &:hover {
    text-decoration: none;
  }
}

.container {
  margin: 0 auto;
  max-width: $content-width;

  @media (min-width: $content-width-lg) {
    max-width: $content-width-lg;
  }
}
