.list {
  list-style: none;
  padding-left: 0;
}

.item {
  border-left: 2px solid var(--violet);
  margin-bottom: 1rem;
  margin-left: -0.5rem;
  padding: 0.5rem;
}

.item:hover {
  background: var(--grey-1);
}

.descriptionItem {
  margin-bottom: 0;
  padding: 0;
}
