---
layout: wide-small
title: Phex for Sublime Text 3 by Florian Eckerstorfer
peramlink: phex/
---

<header class="page-header">
    <h1>Phex for Sublime Text</h1>
</header>

<p>Phex provides PHP developers with tools to writer better PHP code faster. It replaces the default PHP package provided by Sublime Text and adds a bunch of useful commands, contains additional snippets and extends syntax highlighting.</p>

<div class="button-box">
    <a href="https://github.com/florianeckerstorfer/sublime-phex" class="button_github button-box__button">
        Phex on Github
    </a>
    <a href="https://github.com/florianeckerstorfer/sublime-phex/releases" class="button_download button-box__button">
        Downloads
    </a>
</div>
