---
layout: wide-small
title: Phex for Sublime Text 3 by Florian Eckerstorfer
peramlink: phex/
---

<header class="page-header">
    <h1>Phex for Sublime Text</h1>
</header>

<p>Phex provides PHP developers with tools to writer better PHP code faster. It replaces the default PHP package provided by Sublime Text and adds a bunch of useful commands, contains additional snippets and extends syntax highlighting.</p>

<div class="button-box">
    <a href="https://github.com/florianeckerstorfer/sublime-phex" class="button_github button-box__button">
        Phex on Github
    </a>
    <a href="https://github.com/florianeckerstorfer/sublime-phex/releases" class="button_download button-box__button">
        Downloads
    </a>
</div>

<h2>Commands</h2>

<p>Phex adds commands to create classes and interfaces and insert namespaces and class names into your code and documentation.</p>

<div class="vtabs">
    <ul class="vtabs__nav">
        <li><a href="#" data-target="create-class" class="active">Create class</a></li>
        <li><a href="#" data-target="create-class-psr4">Create class (PSR-4)</a></li>
        <li><a href="#" data-target="create-interface">Create interface</a></li>
        <li><a href="#" data-target="insert-namespace">Insert namespace</a></li>
        <li><a href="#" data-target="insert-class-name">Insert class name</a></li>
        <li><a href="#" data-target="create-property">Create property</a></li>
    </ul>
    <div class="vtabs__content">
        <div id="create-class" class="vtabs__content__tab-content active">
            <figure>
                <video src="http://tyrion.florian.ec/phex-create-class.mp4" controls loop></video>
                <figcaption>Create a new class with Phex.</figcaption>
            </figure>
        </div>
        <div id="create-class-psr4" class="vtabs__content__tab-content">
            <figure>
                <video src="http://tyrion.florian.ec/phex-create-class-psr4.mp4" controls loop></video>
                <figcaption>Phex supports the creation of PSR-4-style classes.</figcaption>
            </figure>
        </div>
        <div id="create-interface" class="vtabs__content__tab-content">
            <figure>
                <video src="http://tyrion.florian.ec/phex-create-interface.mp4" controls loop></video>
                <figcaption>Phex also supports the creation of interfaces.</figcaption>
            </figure>
        </div>
        <div id="insert-namespace" class="vtabs__content__tab-content">
            <figure>
                <video src="http://tyrion.florian.ec/phex-insert-namespace.mp4" controls loop></video>
                <figcaption>A command to include the namespace of the current file is also included.</figcaption>
            </figure>
        </div>
        <div id="insert-class-name" class="vtabs__content__tab-content">
            <figure>
                <video src="http://tyrion.florian.ec/phex-insert-class-name.mp4" controls loop></video>
                <figcaption>Phex has a command to search all PHP files and a project and insert the class name.</figcaption>
            </figure>
        </div>
        <div id="create-property" class="vtabs__content__tab-content">
            <figure>
                <video src="http://tyrion.florian.ec/phex-create-property.mp4" controls loop></video>
                <figcaption>Phex makes creating properties and their corresponding setters and getters easy.</figcaption>
            </figure>
        </div>
    </div>
</div>

<h2>Snippets</h2>

<p>The snippets contained in Phex are compatible with <a href="http://www.php-fig.org/psr/psr-1/">PSR-1</a> and <a href="http://www.php-fig.org/psr/psr-2/">PSR-2</a>. In addition to the snippets included in the default Sublime PHP package Phex adds more snippets to create complex code structures with just a few letters. The syntax of the tab triggers is designed to be short and easiliy rememberd.</p>

<h2>Syntax Highlighting</h2>

<p>Phex extends the default syntax highlighting provided by the Sublime PHP package to support annotations from popular PHP frameworks. Annotations for the following frameworks are currently highlighted:</p>

<ul>
    <li>Doctrine MongoDB ODM</li>
    <li>Doctrine ORM</li>
    <li>Symfony2 Validation</li>
    <li>PHPUnit</li>
    <li>Gedmo Doctrine Extensions</li>
    <li>Braincrafted Validation</li>
</ul>

<h2>More Information</h2>

<p>You can find detailed installation and usage instructions as well as a documentation on <a href="https://github.com/florianeckerstorfer/sublime-phex">Github</a>.</p>

<div class="button-box">
    <a href="https://github.com/florianeckerstorfer/sublime-phex" class="button_github button-box__button">
        Phex on Github
    </a>
    <a href="https://github.com/florianeckerstorfer/sublime-phex/releases" class="button_download button-box__button">
        Downloads
    </a>
</div>
