@import '../../variables';

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: $page-margin;
  margin-right: $page-margin;
  padding: $page-margin 0;

  @media (min-width: $content-width-lg) {
    margin-left: $page-margin-lg;
    margin-right: $page-margin-lg;
  }

  > a {
    height: 32px;
    line-height: 1;
  }

  &__logo {
    box-sizing: border-box;
    height: calc(32px + 2rem);
    position: fixed;
    z-index: 100;

    & > a {
      display: block;
      margin: 0 -1rem;
      padding: 1rem;
    }
  }
}
