.articles {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    width: 100%;

    >li {
        margin: 1em 0;
    }

    .title {
        font-weight: bold;
    }

    .date {
        color: #666;
    }

    p {
        margin: 0;
    }

    .tags {
        color: #666;
        font-size: .75em;
        line-height: 1em;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            background: #efefef;
            display: inline-block;
            padding: .3em;
        }

    } // .tags

    .article {
        .title {
            font-size: 1.5em;
        }
    }

} // .articles

.article {
    table {
        border: 1px solid #ccc;
        border-collapse: collapse;
        border-radius: 3px;


        tr {
            border: 0;

            &:nth-child(2n) {
                background: #f8f8f8;
            }
        }

        th {
            text-align: center;
        }

        td {
            border: 0;
            padding: .3em;
        }

    } // table

} // .article
