body {
    background: #fff;
    color: #111;
    font: $font-base $sans-serif-font;
}

p {
    line-height: 150%;
}

a {
    color: $link-color;

    &:hover {
        text-decoration: none;
    }
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    height: 0;
    margin: {
        left: -1em;
        right: -1em;
    }
}

code {
    background: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 3px;
    display: inline-block;
    font: .9em $monospace-font;
    padding: .2em;
}

pre {
    code {
        overflow-x: scroll;
        padding: .4em;
    }
}

picture {
    img {
        max-width: 100%;
    }
}

figure {
    margin: 0;
}

video {
    max-width: 100%;
}
