body {
    background: #fff;
    color: #111;
    font: $font-base $sans-serif-font;
}

p {
    line-height: 150%;
}

a {
    color: $link-color;

    &:hover {
        text-decoration: none;
    }
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    height: 0;
    margin: {
        left: -1em;
        right: -1em;
    }
}

code {
    display: inline-block;
}

code,
pre {
    font: .9em $monospace-font;
}

pre {
    overflow: initial;

    code {
        display: block;
        overflow: auto;
    }
}

img {
    max-width: 100%;
}

figure {
    margin: 0;
}

video {
    max-width: 100%;
}

blockquote {
    font-size: 1.5em;
    text-align: center;
}
