// @font-face {
//     font-family: 'Computer Modern Sans';
//     src: url('../fonts/cmunss.eot');
//     src: url('../fonts/cmunss.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/cmunss.woff') format('woff'),
//          url('../fonts/cmunss.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Computer Modern Sans';
//     src: url('../fonts/cmunsi.eot');
//     src: url('../fonts/cmunsi.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/cmunsi.woff') format('woff'),
//          url('../fonts/cmunsi.ttf') format('truetype');
//     font-weight: normal;
//     font-style: italic;
// }

// @font-face {
//     font-family: 'Computer Modern Sans';
//     src: url('../fonts/cmunsx.eot');
//     src: url('../fonts/cmunsx.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/cmunsx.woff') format('woff'),
//          url('../fonts/cmunsx.ttf') format('truetype');
//     font-weight: bold;
//     font-style: normal;
// }

@font-face {
    font-family: 'Karla';
    src: url('../fonts/karla-regular.eot');
    src: url('../fonts/karla-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/karla-regular.woff') format('woff'),
         url('../fonts/karla-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('../fonts/karla-bold.eot');
    src: url('../fonts/karla-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/karla-bold.woff') format('woff'),
         url('../fonts/karla-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}




@font-face {
    font-family: 'Karla';
    src: url('../fonts/karla-bolditalic.eot');
    src: url('../fonts/karla-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/karla-bolditalic.woff') format('woff'),
         url('../fonts/karla-bolditalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;

}




@font-face {
    font-family: 'Karla';
    src: url('../fonts/karla-italic.eot');
    src: url('../fonts/karla-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/karla-italic.woff') format('woff'),
         url('../fonts/karla-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}
