@import "../../components/neat/app/assets/stylesheets/neat-helpers";

// Change the grid settings
$column: 40px;
$gutter: 20px;
$grid-columns: 12;
$max-width: em(700);

// Define your breakpoints
$tablet: new-breakpoint(max-width 750px 12);
$mobile: new-breakpoint(max-width 480px 10);
