@import "../../components/neat/app/assets/stylesheets/neat-helpers";

// Change the grid settings
$column: 40px;
$gutter: 20px;
$grid-columns: 10;
$max-width: em(580);

// Define your breakpoints
// $tablet: new-breakpoint(max-width 768px 8);
// $mobile: new-breakpoint(max-width 480px 4);
