.small-header {
    .logo {
        @include span-columns(2);
    }

    .top-nav {
        @include span-columns(10);

        .burger-button {
            float: left;
            margin: {
                top: 24px;
                bottom: 24px;
            }
        }

        ul {
            display: none;
            line-height: 61px;
            margin: 0;
            text-align: left;

            &.active {
                display: block;
            }
        }
    }

} // .small-header
