.top-nav {
    ul {
        margin: {
            top: 0;
            bottom: 4em;
        }
        padding-left: 0;
        text-align: center;
    }

    li {
        display: inline-block;
    }

    a {
        font-size: .8em;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;

        &:link,
        &:active,
        &:visited {
            border-bottom: 3px solid $link-color;
            color: #333;
            padding: 0 5px;
        }

        &:hover {
            color: $link-color;
        }

        &.selected {
            border-bottom-color: #000;
        }

    } // a

} // .top-nav
