$link-color: #08c;
$monospace-font: 'Anonymous Pro', 'Courier New', Courier, monospace;
$sans-serif-font: 'Source Sans Pro', Helvetica, Arial, sans-serif;

$font-base: 1.1em;
$font-sm: .85em;
$font-xs: .75em;
