// Colors
$link-color: #e64c66;
$white: #fff;
$black: #111;

// Fonts
$monospace-font: 'Anonymous Pro', 'Courier New', Courier, monospace;
$sans-serif-font: 'Source Sans Pro', Helvetica, Arial, sans-serif;

// Font sizes
$font-base: 1.2em;
$font-sm: .85em;
$font-xs: .75em;
