@import '../../components/normalize-css/normalize.css';
@import '../../components/bourbon/dist/bourbon';
@import 'grid-settings';
@import '../../components/neat/app/assets/stylesheets/neat';
@import '../../components/highlightjs/styles/github.css';
@import 'fonts';

$link-color: #08c;

body {
    background: #fff;
    color: #111;
    font: 1.1em 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

p {
    line-height: 150%;
}

a {
    color: $link-color;

    &:hover {
        text-decoration: none;
    }
}

code {
    background: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 3px;
    display: inline-block;
    font: .9em 'Anonymous Pro', 'Courier New', Courier, monospace;
    padding: .2em;
}

pre {
    code {
        overflow-x: scroll;
        padding: .4em;
    }
}

picture {
    img {
        max-width: 100%;
    }
}

figure {
    margin: 0;
}

video {
    max-width: 100%;
}

.header,
.small-header,
.top-nav,
.content,
.footer {
    @include outer-container;
}

.logo {
    padding: 0 1em;
}

.header {
    margin: {
        top: 4em;
        bottom: 2em;
    }

    .logo {
        text-align: center;
    }
}

.small-header {
    margin: {
        top: 2em;
        bottom: 1em;
    }

    .logo {
        text-align: left;
    }
}

.content {
    margin-bottom: 3em;
}

.main {
    padding: 0 1em;

    p {
        &:first-child {
            margin-top: 0;
        }
    }

    h2 {
        &:first-child {
            margin-top: 0;
        }
    }

} // .main

.page-header {
    h1 {
        font-size: 3em;
        text-align: center;
    }
}

@import 'navigation';
@import 'articles';
@import 'cv';
@import 'projects';
@import 'footer';

@import 'vtabs';
@import 'button';

@import 'layout_default';
@import 'layout_wide';
