@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
@import "fonts";

$link-color: #08c;

body {
    background: #fff;
    color: #111;
    font: 1.1em 'Computer Modern Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 140%;
} // body

a {
    color: $link-color;
    &:hover {
        text-decoration: none;
    } // :hover
} // a

.header,
.content {
    @include outer-container;
} // .header, .content

.header {
    margin-bottom: 3em;
    padding-top: 6em;

    header {
        @include span-columns(12);
    }

    h1 {
        color: #999;
        font: 1.2em Helvetica, Arial, sans-serif;

        a {
            color: #333;
            text-decoration: none;
        }

        strong {
            color: #333;
            font-weight: bold;
            font-size: 1.5em;
            // text-transform: uppercase;
        } // strong
    } // h1

    aside {
        float: left;
        margin-top: -19px;
        margin-right: 20px;

        img {
            -webkit-border-radius: 185px;
        } // img

    } // aside

} // #header

.content {
    .main {
        @include span-columns(8);
    } // .main

    .sidebar {
        @include span-columns(4);
    } // .sidebar
} // .content

.vcard {
    margin-left: 0;
    list-style: none;

    .adr {
        margin-bottom: 0.5em;
    } // .adr
} // .vcard

.cv-list,
.projects {

    margin-left: 0;
    padding-left: 0;
    list-style: none;

    li {
        margin-bottom: 1em;
        padding: 0.5em;
        background: #fff;

        li {
            margin-bottom: 0;
            padding: 0;
        }
    }

} // .cv-list, .projects

.project {
    .url {
        display: block;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
        font: 0.9em Inconsolata, 'Courier New', monospace;
        line-height: 100%;
        text-decoration: none;

        &:hover {
            border-color: $link-color;
        } // :hover
    } // .url
} // .projects

.screenshots {
    margin-left: 0;
    padding-left: 0;
    list-style: none;

    img {
        max-width: 100%;
    } // img
} // .screenshots



// PORTRAIT TABLET TO DEFAULT DESKTOP
// ----------------------------------

@media (max-width: 980px) {

    #header {
        h1 {
            font-size: 3.5em;
        }
        aside {
            margin-top: -20px;
        }
        aside, aside img {
            width: 200px;
            height: 200px;
        }
    }

}

// LANDSCAPE PHONE TO SMALL DESKTOP & PORTRAIT TABLET
// --------------------------------------------------

@media (max-width: 768px) {
    #header {
        h1 {
            font-size: 2em;
        }
        header {
            float: left;
        }
        aside {
            float: right;
            margin-top: -20px;
        }
        aside, aside img {
            width: 130px;
            height: 130px;
        }
    }
}

// UP TO LANDSCAPE PHONE
// ---------------------

@media (max-width: 480px) {

    #header {
        h1 {
            font-size: 1.5em;
        }
        header {
            float: left;
        }
        aside {
            float: right;
            margin-top: 0;
        }
        aside, aside img {
            width: 70px;
            height: 70px;
        }
    }

}

