.footer {
  border-top: 2px solid var(--violet);
  font-size: var(--smallText);
  grid-area: footer;
  padding: 0.5rem var(--pageSpacing);
  position: relative;
}

.footer::before {
  border-top: 1px solid var(--violet);
  content: '';
  display: block;
  left: 0;
  position: absolute;
  top: -4px;
  transition: top 600ms var(--easeInOutBack);
  width: 100%;
}

.footer:hover::before {
  top: -16px;
}

.footer p {
  margin: 0 auto;
  max-width: var(--maxContentWidth);
}

.heart {
  color: var(--red);
}
