.page-list {
  margin: 2rem var(--pageSpacing);
  padding: 0;
  list-style: none;
  max-width: var(--maxContentWidth);
}

@media screen and (min-width: 640px) {
  .page-list {
    margin-left: auto;
    margin-right: auto;
  }
}

.page-list__item {
  margin-bottom: 2rem;
}

.page-list__item__article {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.page-list__item__icon {
  margin-right: 0.5rem;
}

.page-list__item__link {
  color: var(--violet);
  display: block;
  font: bold 1.5rem var(--headlineFont);
}

.page-list__item__link:hover {
  text-decoration: none;
}

.page-list__item__url {
  display: block;
  font-family: var(--monospaceFont);
  font-size: var(--monospaceFontSize);
  margin-bottom: 0.25rem;
  width: 100%;
}

.page-list__item__url:link,
.page-list__item__url:active,
.page-list__item__url:visited {
  color: var(--darkGrey);
}

.page-list__item__meta {
  font-size: var(--smallFontSize);
  line-height: 1.5;
  width: 100%;
}
