.social-media-aside {
  background: var(--grey-1);
  padding: 1px var(--pageSpacing);
}

.social-media-aside__content {
  margin: 0 auto;
  max-width: var(--maxContentWidth);
  padding: 0 0 1rem 0;
}
