---
title: Concerts
layout: base
---
<main role="main" tabindex="-1">
  <h1>Concerts</h1>

  <div class="content">
    <p>
      A list of concerts I have been. There might be missing some, especially
      from the early years.
    </p>

    <h2>Plans</h2>

    <ul>
      <li>Feb 14, 2020 Efterklang (Gasometer, Vienna)</li>
      <li>Jun 4-6, 2020 Primavera Festival (Barcelona, Spain)</li>
    </ul>

    <h2>2019</h2>

    <ul>
      <li>Oct 14 Chromatics (Arena, Vienna)</li>
      <li>Sep 26-28 Waves Vienna Festival (Wuk, Vienna)</li>
      <li>Sep 14 Amanda Palmer (Wiener Konzerthaus, Vienna)</li>
      <li>Sep 4 <a href="https://micro.florian.ec/2019/09/16/courtney-barnett-at.html" target="_blank" rel="noopener">Courtney Barnett</a> (Flex, Vienna)</li>
      <li>
      Aug 13
        <a href="https://micro.florian.ec/2019/08/13/mitski-at-flex.html">Mitski</a>
        with <a href="https://micro.florian.ec/2019/08/13/sakura-at-flex.html">Sakura</a>
        (Flex, Vienna)
      </li>
      <li>
        <del>Jul 7 Lucy Dacus (Flex, Vienna)</del>
        <span class="label inverse">Cancelled</span>
      </li>
      <li>
        Mar 23
        <a href="https://micro.florian.ec/2019/03/12/screaming-females-at.html">Screaming Females</a>
        (Chelsea, Vienna)
      </li>
      <li>
        Mar 11
        <a href="https://micro.florian.ec/2019/03/12/braids-at-chelsea.html">Braids</a>
        (Chelsea, Vienna)
      </li>
    </ul>

    <h2>2018</h2>

    <ul>
      <li>Nov 11
        <a href="http://micro.florian.ec/2018/11/11/chvrches-at-gasometer.html">Chvrches</a>
        with <a href="http://micro.florian.ec/2018/11/11/anger-at-gasometer.html">Anger</a>
        (Gasometer, Vienna)
      </li>
      <li>Nov 7
        <a href="http://micro.florian.ec/2018/11/08/mourn-at-fluc.html">Mourn</a>
        (Fluc, Vienna)
      </li>
      <li>
        Nov 4
        <a href="http://micro.florian.ec/2018/11/05/metric-at-wuk.html">Metric</a>
        (Wuk, Vienna)
      </li>
      <li>Oct 28
        <a href="http://micro.florian.ec/2018/10/29/laurel-at-b.html">Laurel</a>
        with <a href="http://micro.florian.ec/2018/10/29/polly-money-at.html">Polly Money</a>
        (B72, Vienna)
      </li>
      <li>Sep 29 Waves Festival (Vienna): Kids N Cats, Mascha, Nabihah Iqbal, Pom Poko</li>
      <li>Sep 28 Waves Festival (Vienna): False Advertising, WWWater, Kovacs</li>
      <li>Sep 27 Waves Festival (Vienna): Pauls Jets, Cléa Vincent, The Blind Suns</li>
      <li>
        Jun 18
        <a href="https://www.instagram.com/p/BkLj47WAjnS/">Arcade Fire</a> (
        <a href="https://www.instagram.com/p/BkLmG-LgIP6/">2</a>)
        (Stadthalle, Vienna)
      </li>
      <li>Jun 2 Primavera Sound: Gabriel Garzón Montana, Lorde (Barcelona, Spain)</li>
      <li>Jun 1 Primavera Sound: Waxahatchee, Rhye, The National (Barcelona, Spain)</li>
      <li>May 31 Primavera Sound: Hinds, (Sandy) Alex G, Warpaint, Björk, Fever Ray, Chvrches (Barcelona, Spain)</li>
      <li>May 08 Hey Elbow (Rhiz, Vienna)</li>
      <li>
        Apr 27 <a href="https://www.instagram.com/p/BiFlIOzAhKP/">Wye Oak</a>,
        <a href="https://www.instagram.com/p/BiFk3jHg-XF/">Suno Deko</a>
        (Fluc, Vienna)
      </li>
      <li>
        Apr 15
        <a href="https://www.instagram.com/p/BhmwtMCgQt5">Sunflower Bean</a>
        (Chelsea, Vienna)
      </li>
      <li>
        Apr 07 <a href="https://www.instagram.com/p/BhSM12yFln8">Nada Surf</a>
        (WUK, Vienna)
      </li>
      <li>
        Apr 03 <a href="https://www.instagram.com/p/BhH3wSklHZu">Braids</a>
        (B72, Vienna)
      </li>
      <li>
        Mar 24 <a href="https://www.instagram.com/p/BguNZudl2eT">Mynth</a>
        (Progy &amp; Bess, Vienna)
      </li>
      <li>
        Mar 03 <a href="https://www.instagram.com/p/Bf4FJVGF6us">Alvvays</a>
        (Flex, Vienna)
      </li>
      <li>
        Mar 01 <a href="https://www.instagram.com/p/BfzG5ORl5sV">Son Lux</a>,
        <a href="https://www.instagram.com/p/BfzGvRilz0l">Hanna Benn</a>
        (Arena, Vienna)
      </li>
      <li>
        Feb 21 <a href="https://www.instagram.com/p/BfebLohl02S">Ghostpoet</a>
        (Flex, Vienna)
      </li>
      <li>
        Feb 19 <a href="https://www.instagram.com/p/BfZOX9ElXd0">Fever Ray</a>
        (Gasometer, Vienna)
      </li>
      <li>
        Feb 06
        <a href="https://www.instagram.com/p/Be3yXDrF7Oi">Iron &amp; Wine</a>,
        <a href="https://www.instagram.com/p/Be3hI4nFOtI">Half Waif</a>
        (WUK, Vienna)
      </li>
      <li>
        Jan 26 Ja Ja Ja Festival:
        <a href="https://www.instagram.com/p/BebsBxUlhwd">Velvet Volume</a>,
        Úlfur Úlfur, The Holy,
        <a href="https://www.instagram.com/p/BebrDddFb6M">Pom Poko</a>,
        <a href="https://www.instagram.com/p/BebqgjOl7Qt">Goss</a>
        (WUK, Vienna)
      </li>
      <li>
        Jan 21 <a href="https://www.instagram.com/p/BeOoVM2lCNg">Liima</a>
        (B72, Vienna)
      </li>
    </ul>

    <h2>2017</h2>

    <ul>
      <li>
        Dec 09
        <a href="https://www.instagram.com/p/Bcf9VzwFgeX">FM Belfast</a>
        (Grelle Forelle, Vienna)
      </li>
      <li>
        Nov 27
        <a href="https://www.instagram.com/p/BcBAMl9lTpF">Emma Ruth Rundle</a> +
        <a href="https://www.instagram.com/p/BcBAAXilkdc">Jaye Jayle</a>
        (Arena, Vienna)
      </li>
      <li>
        Nov 21
        <a href="https://www.instagram.com/p/BbxmGbGFyq8">Zola Jesus</a> (
        <a href="https://www.instagram.com/p/Bbxmu8UlvDA">2</a>),
        <a href="https://www.instagram.com/p/Bbxj7OKlgTa">Devon Welsh</a>
        (Fluc Wanne, Vienna)
      </li>
      <li>
        Nov 01
        <a href="https://www.instagram.com/p/Ba-FN-olddI">Nick Cave &amp; The Bad Seeds</a>
        (Stadthalle, Vienna)
      </li>
      <li>
        Oct 12 <a href="https://www.instagram.com/p/BaKj0jFFXOg">EMA</a>
        (<a href="https://www.instagram.com/p/BaKj6rklOrW">2</a>)
        (Arena, Vienna)
      </li>
      <li>
        Oct 06
        <a href="https://www.instagram.com/p/BZ8gsUDlGqu">5K HD</a>
        (WUK, Vienna)
      </li>
      <li>
        Oct 02
        <a href="https://www.instagram.com/p/BZwtRdTF1Xq">Diet Cig</a>
        (<a href="https://www.instagram.com/p/BZ0euLIlevS">2</a>),
        The Spook School
        (B72, Vienna)
      </li>
      <li>
        Sep 30 Waves Festival:
        <a href="https://www.instagram.com/p/BZreoizFO5R">Any Other</a>,
        Brunettes Shoot Blondes,
        <a href="https://www.instagram.com/p/BZsuLeul3Bc">Birthh</a>,
        <a href="https://www.instagram.com/p/BZtYXxxFjAB">Giungla</a>
        (<a href="https://www.instagram.com/p/BZtaJxwlOGu">2</a>) (Vienna)
      </li>
      <li>
        Sep 29 Waves Festival:
        <a href="https://www.instagram.com/p/BZqEDQLlvfI">Nite Jewel</a>,
        <a href="https://www.instagram.com/p/BZqR-FoFf6B">Gaddafi Girls</a>,
        <a href="https://www.instagram.com/p/BZq1ZY5F06g">lilly among clouds</a>,
        <a href="https://www.instagram.com/p/BZrNJiQl6ju">E^ST</a>
        (Vienna)
      </li>
      <li>
        Sep 28 Waves Festival:
        <a href="https://www.instagram.com/p/BZmhrcQFFQP">Tolstoys</a>,
        <a href="https://www.instagram.com/p/BZmkFmIFrLV">Emily Roberts</a>,
        Serafyn,
        <a href="https://www.instagram.com/p/BZnksamFhHS">Little Big Sea</a>,
        <a href="https://www.instagram.com/p/BZn8lA2lLTF">Be Charlotte</a>
        (Vienna)
      </li>
      <li>
        Sep 19
        <a href="https://www.instagram.com/p/BZPS1pdlyfZ">Chastity Belt</a> (
        <a href="https://www.instagram.com/p/BZPS8UnlZSY">2</a>,
        <a href="https://www.instagram.com/p/BZPSwC1l4BM">3</a>),
        <a href="https://www.instagram.com/p/BZPR9lel33G">Waxahatchee</a>,
        <a href="https://www.instagram.com/p/BZPP7uDFW6b">Magic Potion</a>
        (Arena, Vienna)
      </li>
      <li>
        Aug 21
        <a href="https://www.instagram.com/p/BYEn3EqFkrg">Perfume Genius</a>
        (Arena, Vienna)
      </li>
      <li>
        Jul 18
        <a href="https://www.instagram.com/p/BWvQ6oOF8vG">of Montreal</a>
        (Fluc Wanne, Vienna)
      </li>
      <li>
        Jul 11 Ahoi! Festival:
        <a href="https://www.instagram.com/p/BWcDNcclUR-">Arcade Fire</a>,
        Explosions in the Sky,
        <a href="https://www.instagram.com/p/BWcCi4wlnnB">Timber Timbre</a>,
        Steaming Satellites,
        <a href="https://www.instagram.com/p/BWcB3wZFToK">Get Well Soon</a>
        (Donaulände, Linz)
      </li>
      <li>
        Jul 09 <a href="https://www.instagram.com/p/BWXMrvbFHtD">Cat Power</a>,
        Bernhard Eder (Rosengarten am Pöstlingberg, Linz)
      </li>
      <li>
        Jun 16
        <a href="https://www.instagram.com/p/BVcutHYlxyq">Radiohead</a>
        (Monza, Italy)
      </li>
      <li>
        May 30
        <a href="https://www.instagram.com/p/BUuwTGslkPp">Angel Olsen</a>,
        Alex Cameron (Wuk, Vienna)
      </li>
      <li>
        May 24 Hyperreality:
        <a href="https://www.instagram.com/p/BUg3BeHl_J9">Holly Herndon</a>,
        Carla del Forno (Schloss Neugebäude, Vienna)
      </li>
      <li>
        Apr 29
        <a href="https://www.instagram.com/p/BTe9EOFlHzz">Lisa Hannigan</a>,
        <a href="https://www.instagram.com/p/BTe-4d9ltUO">Saint Sister</a>
        (Wuk, Vienna)
      </li>
      <li>
        Mar 12
        <a href="https://www.instagram.com/p/BRlJMRGFYJl">Austra</a>,
        <a href="https://www.instagram.com/p/BRkvXAxFSMf">Pixx</a>
        (Wuk, Vienna)
      </li>
      <li>
        Feb 26
        <a href="https://www.instagram.com/p/BQ_hC6aFtxQ">Mitski</a>,
        <a href="https://www.instagram.com/p/BQ_g4MFFF-K">Personal Best</a>
        (B72, Vienna)
      </li>
      <li>
        Jan 27 Ja Ja Ja Festival:
        <a href="https://www.instagram.com/p/BP0LXs8DJC9">Have You Ever Seen The Jane Fonda Aerobic VHS?</a>,
        <a href="https://www.instagram.com/p/BPyFwYDDyeB/">Chinah</a>,
        Axel Flóvent,
        Gundelach
        (Wuk, Vienna)
      </li>
    </ul>

    <h2>2016</h2>

    <ul>
      <li>
        Dec 15
        <a href="https://www.instagram.com/p/BODnPf8jMI9">Marissa Nadler</a>
        (Fluc Wanne, Vienna)
      </li>
      <li> Nov 30 Mono (Szene, Vienna) </li>
      <li>
        Nov 14
        <a href="https://www.instagram.com/p/BMzx4r1j23d">Wilco</a>
        (Museumsquartier Halle E, Vienna)
      </li>
      <li>
        Nov 07
        <a href="https://www.instagram.com/p/BMvvN7kDEgc">Little Big Sea</a>
        (Rhiz, Vienna)
        </li>
      <li>Oct 12 Daughter, Dan Croll (Arena, Vienna)</li>
      <li>Oct 03 Soap&amp;Skin (Konzerthaus, Vienna)</li>
      <li>
        Oct 01 Waves Festival:
        <a href="https://www.instagram.com/p/BLD2NVIDiXX">Kafka Tamura</a> (Vienna)
      </li>
      <li>
        Sep 30 Waves Festival: A Life A Song A Cigarette,
        <a href="https://www.instagram.com/p/BLD2HOljiUO">Girl Names</a>,
        <a href="https://www.instagram.com/p/BLD1_cLDq5q">Hazeevot</a>,
        Resisters,
        <a href="https://www.instagram.com/p/BK9XdokjNYD">Gemma Ray</a>
        (Vienna)
      </li>
      <li>
        Sep 29 Waves Festival: Black Honey, Eloui,
        <a href="https://www.instagram.com/p/BK9W5XLjHPQ">Pola Rise</a>
        (Vienna)
      </li>
      <li>
        Sep 28
        <a href="https://www.instagram.com/p/BK6mSfLDpul">Fear of Men</a>
        (Rhiz, Vienna)
      </li>
      <li> Sep 08 Wolf Alice (Flex, Vienna) </li>
      <li>
        Jul 22 HipHop Open: Fünf Sterne Deluxe,
        <a href="https://www.instagram.com/p/BIQdqxTDsLN">Blumentopf</a>,
        <a href="https://www.instagram.com/p/BIQegWrDYzG">Beginner</a>
        (Wiesen)
      </li>
      <li>
        May 26
        <a href="https://www.instagram.com/p/BF4t_k7hs1J">Eleanor Friedberger</a>,
        Mass Gothic (Chelsea, Vienna)
      </li>
      <li>
        Apr 21
        <a href="https://www.instagram.com/p/BEemUqnhs73">Kate Boy</a>
        (Chelsea, Vienna)
      </li>
      <li>Mar 09 Tindersticks (Konzerthaus, Vienna) </li>
      <li>
        Mar 06 By:Larm Festival:
        <a href="https://www.instagram.com/p/BCnfkHMhs-k">Lafawndah</a>,
        <a href="https://www.instagram.com/p/BCngMNDBswe">Palace Winter</a>,
        <a href="https://www.instagram.com/p/BCngsObhsx5">Skinny Girl Diet</a>
        (Oslo, Norway)
      </li>
      <li>
        Mar 05 By:Larm Festival:
        <a href="https://www.instagram.com/p/BClc3nLhs5p">The Prettiots</a>
        (Oslo, Norway)
      </li>
      <li>
        Mar 04 By:Larm Festival:
        <a href="https://www.instagram.com/p/BCjJ2XdhsxK">Sea Lion</a>,
        <a href="https://www.instagram.com/p/BCkDwbxhs8P">Kwamie Liv</a>,
        <a href="https://www.instagram.com/p/BCkKsephs1O">Pixx</a>
        (Oslo, Norway)
      </li>
      <li>
        Mar 03 By:Larm Festival:
        <a href="https://www.instagram.com/p/BCiWBSABs1T">Siv Jakobsen</a>,
        <a href="https://www.instagram.com/p/BCiW13ehs3T">Pale Honey</a>,
        <a href="https://www.instagram.com/p/BCiX3yEBs5m">Ida Stein</a>,
        <a href="https://www.instagram.com/p/BCiYviQBs7Z">Abra</a>,
        <a href="https://www.instagram.com/p/BCiZpwYBs9t">Dolores Haze</a>
        (Oslo, Norway)
      </li>
      <li>
        Mar 02 By:Larm Festival:
        <a href="https://www.instagram.com/p/BCfGEMFBs_g">Whitney</a>,
        <a href="https://www.instagram.com/p/BCfApHmBs4j">Léonne</a>
        (Oslo, Norway)
      </li>
      <li>
        Feb 21
        <a href="https://www.instagram.com/p/BCEUWvkhs3_">Youth Lagoon</a>
        (Chelsea, Vienna)
      </li>
      <li>
        Jan 31
        <a href="https://www.instagram.com/p/BBOMAlPhszo">Angel Haze</a>
        (Flex, Vienna)
      </li>
      <li>
        Jan 25 <a href="https://www.instagram.com/p/BA-us7ghs4t">Hinds</a>
        (B72, Vienna)
      </li>
    </ul>

    <h2>2015</h2>

    <ul>
      <li>
        Dec 09
        <a href="https://www.instagram.com/p/_Fw9Nyhswk">Rangleklods</a>
        (B72, Vienna)
      </li>
      <li>
        Oct 03 Waves Festival: Ebony Bones, Clara Blume, Young Rebel Set,
        Naked Woods (Vienna)
      </li>
      <li>
        Oct 02 Waves Festival:
        <a href="https://www.instagram.com/p/8WjJJqhs7y">Austra</a>,
        <a href="https://www.instagram.com/p/8Wi_bzhs7n">Pins</a>,
        Emma Longard,
        <a href="https://www.instagram.com/p/8Wiyc-Bs7Q">Lylit</a>,
        Sizarr (Vienna)
      </li>
      <li>
        Oct 01 Waves Festival:
        <a href="https://www.instagram.com/p/8T_mj4hs11">Alina Orlova</a>,
        <a href="https://www.instagram.com/p/8T_1QsBs2N">LCDMF</a>,
        <a href="https://www.instagram.com/p/8UANF9hs3A">Hey Elbow</a>,
        <a href="https://www.instagram.com/p/8UACAchs2r">Koala Voice</a>,
        <a href="https://www.instagram.com/p/8UAVcNhs3X">Joy Wellboy</a>
        (Vienna)
      </li>
      <li>
        Jul 14
        <a href="https://www.instagram.com/p/5IUvYBhs7S">Patti Smith and her Band perform Horses</a>
        (Arean Open Air, Vienna)
      </li>
      <li>
        Apr 25
        <a href="https://www.instagram.com/p/19EjVzBs2k/">Vaults</a>,
        <a href="https://www.instagram.com/p/19EcNaBs2S/">Of Montreal</a>,
        <a href="https://www.instagram.com/p/19EViFBs2I/">The Dø</a>,
        <a href="https://www.instagram.com/p/19ENfvBs1x/">Marika Hackman</a>
        (Paradiso, Amsterdam, Netherlands)
      </li>
      <li>
        Apr 14 <a href="https://www.instagram.com/p/1eOqXahs6p/">Mono</a>
        (Arena, Vienna)
      </li>
      <li>
        Mar 19
        <a href="https://www.instagram.com/p/0bcGRABs8T/">Katzenjammer</a>
        (Arena, Vienna)
      </li>
      <li>
        Mar 17
        <a href="https://www.instagram.com/p/0WFpB2hs6z/">Zola Jesus</a> (Wuk,Vienna)
      </li>
      <li>
        Mar 09
        <a href="https://www.instagram.com/p/0BlOMRBs9b/">Two Gallants</a>,
        <a href="https://www.instagram.com/p/0Bkr0shs8g/">Theo Verney</a>
        (Wuk, Vienna)
      </li>
      <li>
        Jan 29
        <a href="https://www.instagram.com/p/ydKfGWBs8S/">Get Well Soon</a>
        (Porgy &amp; Bess, Vienna)
      </li>
      <li>
        Jan 28
        <a href="https://www.instagram.com/p/yafzgJhs4Z/">Orenda Fink</a>
        (Haus der Musik, Vienna)
      </li>
    </ul>

    <h2>2014</h2>

    <ul>
      <li>
        Dec 01
        <a href="https://www.instagram.com/p/wFPMqUhs8J/">Son Lux</a>,
        <a href="https://www.instagram.com/p/wFOgbQBs30/">White Hinterland</a>
        (Arena, Vienna)
      </li>
      <li>
        Nov 24
        <a href="https://www.instagram.com/p/vzHyM5Bs0l/">Klaxons</a>,
        Fenech-Solar (Arena, Vienna)
      </li>
      <li>
        Nov 18
        <a href="https://www.instagram.com/p/vjoOKyBsyP/">St. Vincent</a>
        (Arena, Vienna)
      </li>
      <li>
        Oct 27
        <a href="https://www.instagram.com/p/urM6fBBs4Q/">Sea Wolf</a>
        (Chelsea, Vienna)
      </li>
      <li>
        Oct 16
        <a href="https://www.instagram.com/p/uOrTf3Bs4u/">The Antlers</a>,
        <a href="https://www.instagram.com/p/uOrD9xBs4e/">Marika Hackman</a>
        (Flex, Vienna)
      </li>
      <li>
        Oct 11
        <a href="https://www.instagram.com/p/uB4YmGBs7q/">Hundred Waters</a>
        (Chelsea, Vienna)
      </li>
      <li>
        Oct 04 Waves Festival: Julia Marcell,
        <a href="https://www.instagram.com/p/txp509hszd/">First Aid Kit</a>,
        Hunter &amp; The Bear, Cheaters (Vienna)
      </li>
      <li>
        Oct 03 Waves Festival:
        <a href="https://www.instagram.com/p/tuhdupBs0R/">Miriel Wagner</a>,
        The Hidden Cameras, Giantree (Vienna)
      </li>
      <li>
        Oct 02 Waves Festival:
        <a href="https://www.instagram.com/p/tqzmaWhsxK/">Mo Kenney</a>,
        <a href="https://www.instagram.com/p/tqz82fhsxq/">Jennie Abrahamson</a>,
        Schmids Puls (Vienna)
      </li>
      <li>
        Sep 09
        <a href="https://www.instagram.com/p/svVybFBs46/">Austra</a>
        (Arena, Vienna)
      </li>
      <li>
        Sep 04 <a href="https://www.instagram.com/p/sifYnyBswk/">Warpaint</a>,
        We Walk Walls (Arena, Vienna)
      </li>
      <li>
        Aug 14
        <a href="https://www.instagram.com/p/rspDR8hsw7/">Conor Oberst</a>,
        Dawes (Arena, Vienna)
      </li>
      <li>
        Aug 12
        <a href="https://www.instagram.com/p/rnNvA1Bswm/">The National</a>,
        Sharon Van Etten (Arena Open Air, Vienna)
      </li>
      <li> Apr 14 Mono (mit Helen Money; Arena, Vienna)</li>
    </ul>

    <h2>2013</h2>

    <ul>
      <li>
        Oct 05 Waves Festival: Sin Fang, Cold Mailmen,
        <a href="https://www.instagram.com/p/fGjzP9BswM/">Soldout</a>,
        <a href="https://www.instagram.com/p/fGj_Y7Bswe/">Kate Boy</a>
        (Vienna)
      </li>
      <li>
        Oct 04 Waves Festival: Nowhere Train,
        <a href="https://www.instagram.com/p/fEJuP_hs_i/">YAST</a>,
        <a href="https://www.instagram.com/p/fEJ2Tchs_t/">Monophona</a>,
        <a href="https://www.instagram.com/p/fEJzN9Bs_m/">BRNS</a> (Vienna)
      </li>
      <li>
        Oct 03 Waves Festival:
        <a href="https://www.instagram.com/p/fBVC-ZBs7t/">CSS</a>,
        <a href="https://www.instagram.com/p/fBSZGNhs3z/">Au Revoir Simone</a>,
        <a href="https://www.instagram.com/p/fBSZGNhs3z/">Frida Hyvönen</a>
        (Vienna)
      </li>
      <li>
        Jul 26 Popfest:
        <a href="https://www.instagram.com/p/cNMSgpBsw_/">Steaming Satellites</a>
        (Karlsplatz, Vienna)
      </li>
      <li> Jun 03 Apparat spielt Krieg und Frieden (Stadtsaal, Vienna) </li>
      <li>May 15 <a href="https://www.instagram.com/p/ZWTG5zhs8T/">The xx</a>,
        Mount Kimbie (Gasometer, Vienna)
      </li>
      <li>Apr 19 <a href="https://www.instagram.com/p/YTZUV4hswN/">Lana Del Rey</a> (Gasomter, Vienna) </li>
      <li>Mar 16 <a href="https://www.instagram.com/p/W7w_J-hsz3/">Monsters of Men</a> (Arena, Vienna) </li>
      <li>Feb 18
        <a href="https://www.instagram.com/p/V5I8JqBszA/">Glen Hansard</a>,
        <a href="https://www.instagram.com/p/V4tltIBsxE/">Lisa Hannigan</a>
        (Konzerthaus, Vienna)
      </li>
      <li> Feb 15 Apparat (Pratersauna, Vienna) </li>
      <li>Feb 13 <a href="https://www.instagram.com/p/VsFEYxBsxo/">Listen to Leena</a> (Celeste Jazz Keller, Vienna) </li>
      <li>Feb 01 <a href="https://www.instagram.com/p/VNACv0Bs9w/">The Beth Edges</a> (Flex, Vienna) </li>
      <li>Jan 21 <a href="https://www.instagram.com/p/UwyPIBBsxM/">Conor Oberst</a>, First Aid Kit (Stadtsaal, Vienna)</li>
    </ul>

    <h2>2012</h2>

    <ul>
      <li>Dec 09 <a href="https://www.instagram.com/p/TCNXAths3e/">Two Gallants</a> (Flex, Vienna)</li>
      <li>Dec 02 <a href="https://www.instagram.com/p/SwUk6bBs9m/">Efterklang</a> (Arena, Vienna)</li>
      <li>Nov 19 <a href="https://www.instagram.com/p/SOoV0Fhs_4/">Muse</a>, Everything Everything (Stadthalle, Vienna)</li>
      <li>Oct 06 Waves Festival (Vienna)</li>
      <li>Oct 05 Waves Festival (Vienna)</li>
      <li>Oct 04 Waves Festival (Vienna)</li>
      <li>Aug 18 Jamie xx (Pratersauna, Vienna)</li>
      <li>Aug 01 <a href="https://www.instagram.com/p/Ny_eC5hs_O/">Bon Iver</a> (Arena Open Air, Vienna)</li>
      <li>Jul 18 <a href="https://www.instagram.com/p/NO_Jihhsyj/">Regina Spektor</a> (Konzerthaus, Vienna)</li>
      <li>Jul 11 <a href="https://www.instagram.com/p/M9EKbghs6V/">Damien Rice</a> (Wuk, Vienna)</li>
      <li>May 18 <a href="https://www.instagram.com/p/KyrSUVBs0-/">Dillon</a> &amp; Sawoff (Pratersauna, Vienna)</li>
      <li>May 06 <a href="https://www.instagram.com/p/KTGP4iBs1n/">Lisa Hannigan</a> (Chaya Fuera, Vienna)</li>
      <li>Mar 10 <a href="https://www.instagram.com/p/IAshMuBswG/">Feist</a> (Gasometer, Vienna)</li>
    </ul>

    <h2>2011</h2>

    <ul>
      <li>Dec 07 Red Hot Chili Peppers, Foals (Stadthalle, Vienna)</li>
      <li>
        Nov 15 <a href="https://www.instagram.com/p/UURac/">Fleet Foxes</a>
        (Museumsquartier Halle E, Vienna)
      </li>
      <li>Sep 28 Soap&amp;Skin (Stadtsaal, Vienna)</li>
      <li>
        Jul 05
        <a href="https://www.instagram.com/p/HCKMF/">Bright Eyes</a>,
        Jenny &amp; Johnny
        (Arena Open Air, Vienna)
      </li>
      <li>Jun 22 Arcade Fire (Wiesen)</li>
      <li>May 20 Linzfest</li>
      <li>
        May 12 <a href="https://www.instagram.com/p/EKuHL/">Angus &amp; Julia Stone</a>
        (Arena, Vienna)
      </li>
      <li>Mar 27 <a href="https://www.instagram.com/p/Cmdc2/">Low Anthem</a> (Flex, Vienna)</li>
      <li>Mar 25 Trouble Over Tokyo (Haus der Musik, Vienna)</li>
      <li>Mar 20  <a href="https://www.instagram.com/p/CZ1H_/">Everything Everything</a> (Flex, Vienna)
      </li>
      <li>Mar 05 Ben Folds (MQ Halle E, Vienna)</li>
      <li>Feb 21 Azure Ray (Chelsea, Vienna)</li>
      <li>Feb 02 Francis International Airport (Wuk, Vienna)</li>
      <li>Jan 24 Ginga (Radiokulturhaus, Vienna)</li>
      <li>Jan 12 Albatros. It’s fog again (Chelsea, Vienna)</li>
    </ul>

    <h2>2010</h2>

    <ul>
      <li>Dec 04 Marina &amp; The Diamonds (Porgy &amp; Bess, Vienna)</li>
      <li>Nov 23 Get Well Soon (Arena, Vienna)</li>
      <li>Nov 18 Interpol (Gasometer, Vienna)</li>
      <li>Sep 23 Wilco (Gasometer, Vienna)</li>
      <li>Aug 18 The National (Arena Open Air, Vienna)</li>
      <li>Aug 08 Kasabian (Arena Open Air, Vienna)</li>
      <li>Jul 07 Imelda May (Rathausplatz, Vienna)</li>
      <li>Jun 27 Serj Tankian &amp; Orchestra (Brucknerhaus, Linz)</li>
    </ul>

    <h2>2009</h2>

    <ul>
      <li>Nov 26 Editors (Gasometer)</li>
      <li>Sep 14 Dinosaur Jr (Gasometer, Vienna)</li>
      <li>Aug 22 FM4 Frequency Festival (St. Pölten)</li>
      <li>Aug 21 FM4 Frequency Festival (St. Pölten)</li>
      <li>Aug 20 FM4 Frequency Festival (St. Pölten)</li>
    </ul>

    <h2>2008</h2>

    <ul>
      <li>Sep 09 Conor Oberst &amp; The Mystic Valley Band (Arena, Vienna)</li>
      <li>Jul 08 Radiohead (Kindlbühne Berlin)</li>
    </ul>

    <h2>2007</h2>

    <ul>
      <li>Jun 24 Southside Festival</li>
      <li>Jun 23 Southside Festival</li>
      <li>Jun 22 Southside Festival</li>
    </ul>
  </div>
</main>
