---
title: Curriculum vitae
layout: base
---
<h1>Curriculum vitae</h1>

<div class="content">

  <section id="eduction">
    <h2>Education</h2>

    <ul class="cv-list">
      <li class="cv-list__item">
        <em>Master of Science</em>, 
        <strong>Software Engineering &amp; Internet Computing</strong>
        <br>
        Vienna University of Technology, Vienna, AT, January 2018
      </li>
      <li class="cv-list__item">
        <em>Curriculum Supplement</em>, <strong>Innovation</strong>
        <br>
        Vienna University of Technlogy, Vienna, AT, December 2013
      </li>
      <li class="cv-list__item">
        <em>Bachelor of Science</em>, 
        <strong>Software &amp; Information Engineering</strong>
        <br>
        Vienna University of Technology, Vienna, AT, September 2011
      </li>
      <li class="cv-list__item">
        <em>Graduation Diploma</em>, 
        <strong><em>HLW f&uuml;r Kommunikations- und Mediendesign</em></strong> 
        (specialization in communications- and media design)
        <br>
        Schulzentrum der Kreuzschwestern, Linz, June 2006
      </li>
    </ul>
  </section>

  <section id="experience">
    <h2>Experience</h2>
    <ul class="cv-list">
      <li class="cv-list__item">
        <em>Senior Frontend Developer</em>, 
        <a href="https://mysugr.com"><strong>mySugr</strong></a>
        , Vienna, AT, since August 2018
        <ul>
          <li class="cv-list__item__description">
            Developing web applications with React
          </li>
          <li class="cv-list__item__description">
            Developing web sites with React and next.js
          </li>
          <li class="cv-list__item__description">
            Software architecture for new and legacy applications
          </li>
          <li class="cv-list__item__description">
            Creating build and deployment tools
          </li>
          <li class="cv-list__item__description">
            Technical planning of new projects
          </li>
        </ul>
      </li>
      <li class="cv-list__item">
        <em>Frontend &amp; Mobile App Developer</em>, 
        <a href="https://www.swell.wtf"><strong>Swell</strong></a>
        , Vienna, AT, since January 2017
        <ul>
          <li class="cv-list__item__description">
            Developing web views for chatbots with React and InfernoJS
          </li>
          <li class="cv-list__item__description">
            Developing mobile apps with React Native for iOS and Android
          </li>
          <li class="cv-list__item__description">
            Developing business tools with Angular 2
          </li>
          <li class="cv-list__item__description">
            Developing websites with HTML, CSS and JavaScript
          </li>
        </ul>
      </li>
      <li class="cv-list__item">
        <em>Frontend Developer</em>, 
        <a href="https://kiweno.com"><strong>Kiweno GmbH</strong></a>
        , Vienna, AT, April - November 2016
        <ul>
          <li class="cv-list__item__description">
            Developing a responsive web app with HTML, CSS, JavaScript and AngularJS
          </li>
          <li class="cv-list__item__description">
            Developing ecommerce website with WordPress
          </li>
        </ul>
      </li>
      <li class="cv-list__item">
        <em>Web Developer</em>, 
        <strong>2bePUBLISHED Internet Services Austria GmbH</strong>,
        Vienna, AT, June 2009 - March 2016
        <ul>
          <li class="cv-list__item__description">
            Frontend Development (HTML, CSS, JavaScript, AngularJS)
          </li>
          <li class="cv-list__item__description">
            Web Development with PHP and Symfony
          </li>
          <li class="cv-list__item__description">
            Web Data Extraction and Business Intelligence
          </li>
        </ul>
      </li>
      <li class="cv-list__item">
        <em>Web Developer</em>,
        <strong>2beFOUND Performance Marketing GmbH</strong>, Vienna, AT, August 2008 - May 2009
        <ul>
          <li class="cv-list__item__description">
            Frontend Development (HTML, CSS, JavaScript)
          </li>
          <li class="cv-list__item__description">
            Web Development with PHP and Symfony
          </li>
        </ul>
      </li>
      <li class="cv-list__item">
        <em>Freelancer</em>, January 2002 - May 2009
        <ul>
          <li class="cv-list__item__description">Frontend Development</li>
          <li class="cv-list__item__description">Web Development</li>
          <li class="cv-list__item__description">Web Design</li>
          <li class="cv-list__item__description">Consulting</li>
        </ul>
      </li>
      <li class="cv-list__item">
        <em>Internship</em>, <strong>Strobl)Kriegner Group</strong>, Linz, AT, August 2004
        <ul>
          <li class="cv-list__item__description">Web Design</li>
          <li class="cv-list__item__description">Print Design</li>
          <li class="cv-list__item__description">Flash Development</li>
        </ul>
      </li>
      <li class="cv-list__item">
        <em>Internship</em>, <strong>CREATEAM Werbeagentur GmbH</strong>, Linz, AT, August 2003, June - July 2004
        <ul>
          <li class="cv-list__item__description">Web Design</li>
          <li class="cv-list__item__description">Print Design</li>
          <li class="cv-list__item__description">Frontend Development</li>
        </ul>
      </li>
    </ul>
  </section>

  <section id="open-source-projects">
    <h2>Open Source Projects</h2>

    <ul class="cv-list">
      <li class="cv-list__item">
        <a href="https://github.com/plumphp/plum"><strong>Plum</strong></a>
        <br>
        Plum is a data processing pipeline for PHP. It allows you to quickly
        write code that reads, filters, converts and writes data in various
        formats.
      </li>
      <li class="cv-list__item">
        <a href="http://bootstrap.braincrafted.com">
          <strong>BraincraftedBootstrapBundle</strong>
        </a>
        <br>
        Bundle to easily integrate Twitter Bootstrap in a Symfony2 project.
        As of June 2018 over 1m downloads.
      </li>
      <li class="cv-list__item">
        <a href="https://github.com/cocur/slugify">
          <strong>Slugify</strong>
        </a>
        <br>
        Library to create URL slugs from strings with support for a wide
        range of languages. As of Mai 2019 about 12 million downloads.
      </li>
      <li class="cv-list__item">
        <a href="http://symfony.com">
          <strong>Symfony2 Forms Framework</strong>
        </a>
        <br>
        Contributed with three other students to a framework to create,
        validate and submit forms. Part of the Symfony2 Framework.
      </li>
    </ul>
  </section>

  <section id="private-projects">
    <h2>Private Projects</h2>

    <ul class="cv-list">
      <li class="cv-list__item">
        <strong>Similar.fm</strong>, March 2012
        <br>
        Web Service to easily open music related to the music a user is
        currently listening to in Spotify. No longer online.
      </li>
      <li class="cv-list__item">
        <strong>Tryp</strong>, August 2011
        <br>
        Web Service to visualize the previous whereabouts of a Twitter user
        on a map. No longer online.
      </li>
      <li class="cv-list__item">
        <strong>RegExp Tester</strong>, July 2010
        <br>
        Web Service to easily test regular expressions. No longer online.
      </li>
      <li class="cv-list__item">
        <strong>Ninjawhois</strong>, April 2009
        <br>
        Web Service to check the availability of multiple domains. No longer online.
      </li>
      <li class="cv-list__item">
        I am working on a wide variety of private projects since 1999. A
        comprehensive overview is presented at the 
        <a href="projects.html">projects</a> page.
      </li>
    </ul>
  </section>

  <section id="languages">
    <h2>Languages</h2>

    <ul class="cv-list">
      <li class="cv-list__item">
        <strong>German</strong>
        <br>
        mother tongue
      </li>
      <li class="cv-list__item">
        <strong>English</strong>
        <br>
        Excellent reading (C2) and very good writing and speaking skills (C1).
      </li>
      <li class="cv-list__item">
        <strong>Spanish</strong>
        <br>
        Basic reading, writing and speaking skills (A2).
      </li>
    </ul>
  </section>

  <p>
    A PDF version of my CV is also available: 
    <a href="/cv.pdf" title="CV Florian Eckerstorfer (PDF format)">cv.pdf</a>.
  </p>
</div>
