@import './variables';

@mixin content {
  font-size: 1rem;
  line-height: 1.5;

  h2,
  ol,
  p,
  ul {
    margin-left: $page-margin;
    margin-right: $page-margin;

    @media (min-width: $content-width-lg) {
      margin-left: $page-margin-lg;
      margin-right: $page-margin-lg;
    }
  }

  h2 {
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  [role="img"] {
    display: inline-block;
    text-decoration: none;
  }
}
