@import './variables';

@mixin content {
  font-size: 1rem;
  line-height: 1.5;

  h2,
  h3,
  h4,
  h5,
  h6,
  ol,
  p,
  table,
  video,
  ul {
    margin-left: $page-margin;
    margin-right: $page-margin;

    @media (min-width: $content-width-lg) {
      margin-left: $page-margin-lg;
      margin-right: $page-margin-lg;
    }

    ol,
    p,
    ul {
      margin-left: 0;
      margin-right: 0;
    }
  }

  h2 {
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  table {
    border: 1px solid $border-color;
    border-spacing: 0;
  }

  td, th {
    padding: 2px 4px;
  }

  thead {
    th {
      background: $border-color;
      color: $border-constrast-color;
      border-bottom: 1px solid $border-color;
    }
  }

  tbody {
    tr:nth-child(2n+1) {
      td {
        background: darken(#fff, 5);
      }
    }
  }

  video {
    max-width: 100%;
  }

  [role="img"] {
    display: inline-block;
    text-decoration: none;
  }
}
