---
title: Travel
layout: base
---

<div class="content">
  <h1>Travel</h1>

  <ul class="page-list">
    {%- for project in collections.travels | reverse -%}
      <li class="page-list__item">
        <article class="page-list__item__article">
        {% if project.data.link %}
          <span class="page-list__item__icon" role="img">
            🔗
          </span>
          <a
            href="{{project.data.link}}"
            class="page-list__item__link"
            target="_blank"
            rel="noopener"
          >
            {{project.data.title}}
          </a>
          {% else %}
          {{ project.data.title }}
          {% endif %}
          <div class="page-list__item__meta">
            {{ project.data.date_start|date('MMMM D, YYYY') }} -
            {{ project.data.date_end|date('MMMM D, YYYY') }}
          </div>
        </article>
      </li>
    {%- endfor -%}
  </ul>
</div>

