$primary-color: #7B00FD;
$primary-contrast-color: white;

$grey-color: #505050;
$grey-contrast-color: white;

$content-width: 640px;
$content-width-lg: 736px;

$page-margin: 16px;
$page-margin-lg: 48px;
