$primary-color: #7B00FD;
$primary-contrast-color: white;

$grey-color: #2a2734;
$grey-contrast-color: white;

$border-color: #a8a3b9;
$border-constrast-color: white;

$monospace-font: monospace;

$media-mobile: 480px;

$content-width: 640px;
$content-width-lg: 736px;

$page-margin: 16px;
$page-margin-lg: 48px;
