.header,
.content,
.footer {
    margin: 0 auto;
    max-width: 640px;
}

.content {
    margin-bottom: 3em;
}

.main {
    position: relative;
    z-index: 100;

    p {
        margin: {
            left: 10px;
            right: 10px;
        }

        @media screen and (min-width: $media-mobile) {
            margin: {
                left: 20px;
                right: 20px;
            }
        }

        &:first-child {
            margin-top: 0;
        }
    }

    h2 {
        margin: {
            left: 10px;
            right: 10px;
        }

        @media screen and (min-width: $media-mobile) {
            margin: {
                left: 20px;
                right: 20px;
            }
        }

        &:first-child {
            margin-top: 0;
        }
    }

    h3 {
        margin: {
            left: .85em;
            right: .85em;
        }
    }

} // .main
