.header,
.content {
    @include outer-container;
}

.content {
    margin-bottom: 3em;
}

.main {
    padding: 0 1em;
    position: relative;
    z-index: 100;

    p {
        &:first-child {
            margin-top: 0;
        }
    }

    h2 {
        &:first-child {
            margin-top: 0;
        }
    }

} // .main
