.layout_wide {
    .header__logo {
        @include span-columns(12);

        @include media($tablet) {
            @include span-columns(12);
        }

    } // .header__logo
}

.header_small {
    .header__logo {
        @include span-columns(2);

    } // .header__logo

    .navigation {
        @include span-columns(10);

    } // .navigation

} // .layout_wide

.container_panorama {
    padding-top: 2em;
    position: absolute;
    top: 100%;
    width: 100%;
}
