.layout_wide {
    .header__logo {
        @include span-columns(2);

    } // .header__logo

    .navigation {
        @include span-columns(10);

    } // .navigation

} // .layout_wide

.container_panorama {
    position: absolute;
    width: 100%;
    top: 100%;
    padding-top: 2em;
}
