.body {
  font-family: var(--bodyFont);
  font-size: var(--bodyFontSize);
  display: grid;
  grid-template-areas:
    'header mainnav'
    'main main'
    'footer footer';
  grid-template-columns: auto 1fr;
}

.main {
  grid-area: main;
}
