.body {
  font-family: var(--bodyFont);
  font-size: var(--bodyFontSize);
  display: grid;
  grid-template-areas:
    'header mainnav'
    'main main'
    'footer footer';
  grid-template-columns: auto 1fr;
}

.body.hasPageTitle {
  grid-template-areas:
    'header mainnav'
    'pageTitle pageTitle'
    'main main'
    'footer  footer';
  grid-template-columns: auto 1fr;
}

.pageTitle {
  grid-area: pageTitle;
}

.main {
  grid-area: main;
  outline: 0;
}

@media screen and (min-width: 640px) {
  .body.hasPageTitle {
    grid-template-areas:
      'header pageTitle mainnav'
      'main main main'
      'footer footer footer';
    grid-template-columns: auto 1fr 1fr;
  }
}
