---
layout: default
title: Articles by Florian Eckerstorfer
permalink: articles/
use: [articles]
---

<ul class="articles">
{% for article in data.articles %}
    {% set article_type = article.type ? article.type : 'default' %}
    {% set article_template = 'articles/_article_'~article_type~'.html.twig' %}
    <li class="articles__article {{ article_type }}">
        {% include article_template with { 'article': article } %}
    </li>
{% endfor %}
</ul>
