---
layout: default
title: Projects by Florian Eckerstorfer
permalink: projects/
use: [projects_categories]
---

{% for category,projects in data.projects_categories %}
    <h2>{{ category }}</h2>

    <ul class="projects">
        {% for project in projects %}
            <li class="projects__project">
                <a href="{{ project.direct_url ?: project.url }}/"><strong>{{ project.title }}</strong></a>
                {{ project.description }}
            </li>
        {% endfor %}
    </ul>
{% endfor %}

<h2>Open Source Projects</h2>

<ul class="projects">
    <li class="projects__project">
        <a href="http://bootstrap.braincrafted.com"><strong>BraincraftedBootstrapBundle</strong></a>
        Bundle to easily integrate Bootstrap in a Symfony2 project.
    </li>
    <li class="projects__project">
        <a href="https://github.com/cocur/slugify"><strong>Cocur Slugify</strong></a>
        Converts a string into a slug that is usable in URLs.
    </li>
    <li class="projects__project">
        <a href="http://banchaproject.org"><strong>Bancha</strong></a>
        A bridge between the CakePHP and Ext JS 4 framework developed in a team with four other students.
    </li>
    <li class="projects__project">
        <a href="http://symfony.com"><strong>Symfony2 Forms Framework</strong></a>
        Contributed with three other students to a framework to create, validate and submit forms. Part of the Symfony2 Framework.
    </li>
</ul>

<p>All of the open source projects I currently work on or worked on in the past can be found on my personal Github profile <a href="https://github.com/florianeckerstorfer">florianeckerstorfer</a> and in the <a href="https://github.com/braincrafted">braincrafted</a> organization.</p>

<h2>Academic Articles and Projects</h2>

<ul class="projects">
    <li class="projects__project">
        <a href="http://storage.braincrafted.com/dns.mp4"><strong>Animated explanation of DNS</strong></a> [mp4]<br>
        Information Design, June 2013
    </li>
    <li class="projects__project">
        <a href="http://storage.braincrafted.com/Eckerstorfer2011NoSQLPerformance.pdf"><strong>Performance of NoSQL Databases</strong></a>[pdf]
        (<a href="http://storage.braincrafted.com/Eckerstorfer2011NoSQLPerformanceSlides.pdf">Slides</a> [pdf])<br>
        Seminar aus Datenbanken, November 2011
    </li>
    <li class="projects__project">
        <a href="http://storage.braincrafted.com/Eckerstorfer2011WebDataExtraction.pdf"><strong>Web Data Extraction — Overview and Comparison of selected State-of-the-Art Tools</strong></a> [pdf]
        <br>
        Bachelor Thesis, May 2011
    </li>
    <li class="projects__project">
        <a href="https://github.com/florianeckerstorfer/Snaphe"><strong>Snaphe</strong></a>— A Web Data Extraction library written in PHP.
        <br>
        Bachelor Project, May 2011
    </li>
</ul>

<h2><a name="talks"></a>Talks</h2>

<ul class="projects">
<li class="projects__project">
        <a href="https://speakerdeck.com/florianeckerstorfer/streams-in-gulp-dot-js"><strong>Streams in Gulp.js</strong></a>
        <br>
        ViennaJS Meetup on June 24, 2015. <a href="/articles/gulp-js-streams/">Article</a>
    </li>
    <li class="projects__project">
        <a href="https://speakerdeck.com/florianeckerstorfer/testable-and-reusable-data-processing-with-php"><strong>Testable and Reusable Data Processing with PHP</strong></a>
        <br>
        ViennaPHP Meetup on February 10, 2015
    </li>
    <li class="projects__project">
        <a href="https://speakerdeck.com/florianeckerstorfer/machine-learning-with-predictionio-and-php"><strong>Machine Learning with PredictionIO and PHP</strong></a>
        <br>
        ViennaPHP Meetup on September 8, 2014
    </li>
    <li class="projects__project">
        <a href="https://speakerdeck.com/florianeckerstorfer/machine-learning-with-node-dot-js-and-predictionio-1"><strong>Machine Learning with Node.js and PredictionIO</strong></a>
        <br>
        Node.js Vienna Meetup on May 13, 2014
    </li>
    <li class="projects__project">
        <a href="https://speakerdeck.com/florianeckerstorfer/machine-learning-with-node-dot-js-and-predictionio"><strong>Machine Learning with Node.js and PredictionIO</strong></a>
        <br>
        Vienna.js Meetup on April 30, 2014
    </li>
    <li class="projects__project">
        <a href="https://speakerdeck.com/florianeckerstorfer/grunt-dot-js-for-php-developers"><strong>Grunt.js for PHP Developers</strong></a>
        <br>
        ViennaPHP Meetup on April 9, 2014
    </li>
</ul>
