.aside {
  border-bottom: 3px solid var(--violet);
  border-top: 3px solid var(--violet);
  margin: 4rem 0 4rem -3px;
  padding: 2rem 0;
}

@media (min-width: 790px) {
  .aside {
    margin-left: calc(-1 * var(--sidebarWidth));
    padding-left: var(--sidebarWidth);
    position: relative;
    z-index: 100;
  }
}

.aside-links__title {
  font-family: var(--bodyFont);
  font-size: var(--bodyFontSize);
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  padding: 0 var(--pageSpacing);
}

.aside__content {
  margin: 0 auto;
  max-width: var(--maxContentWidth);
  padding: 0 var(--pageSpacing) 1rem;
}

.aside-links__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0.5rem auto 1rem;
  max-width: var(--maxContentWidth);
  padding: 0 var(--pageSpacing);
}

.aside-links__item {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-right: 1rem;
}

.aside-links__item::after {
  background: var(--black);
  border-radius: 3px;
  content: '';
  display: block;
  height: 6px;
  margin-left: 1rem;
  width: 6px;
}

.aside-links__item:last-child {
  margin-right: 0;
}

.aside-links__item:last-child::after {
  display: none;
}
