* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: var(--white);
}

h1 {
  font-weight: var(--headlineFontWeight);
  font-size: var(--headlineFontSize);
  font-family: var(--headlineFont);
  line-height: 1.1;
  margin: 3rem 0 1rem;
  text-align: left;
}

h2 {
  font-family: var(--headlineFont);
  font-size: var(--h2FontSize);
  font-weight: bold;
  margin: 2rem auto;
  max-width: var(--maxContentWidth);
}

a:link,
a:active,
a:visited {
  color: var(--violet);
}

a:hover {
  text-decoration: none;
}
