.body {
  align-items: flex-start;
  display: grid;
  font-family: var(--bodyFont);
  font-size: var(--bodyFontSize);
  font-weight: 420;
  grid-template-areas:
    'header mainnav'
    'main main'
    'footer footer';
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  letter-spacing: -0.004em;
}

.main-wrapper {
  grid-area: main;
}

.main {
  outline: 0;
}

@media (min-width: 790px) {
  .body {
    grid-template-areas:
      'header main'
      'mainnav main'
      'footer footer';
    justify-content: flex-start;
  }

  .main-wrapper {
    border-left: 3px solid var(--violet);
  }
}
