@font-face{
  font-family: 'Source Code';
  font-weight: 200 400 500 900;
  font-style: normal;
  font-stretch: normal;
  src: url('/fonts/source-code/source-code.woff2') format('woff2'),
       url('/fonts/source-code/source-code.woff') format('woff');
}
