:root {
  --violet: #7b00fd;
  --red: #da0004;
  --white: #fff;
  --black: #000;
  --grey-1: #eeecf0;
  --darkGrey: #666;

  --headlineFont: Faune, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --headlineFontSize: 4rem;
  --headlineFontWeight: 900;

  --monospaceFont: 'Source Code', Consolas, Menlo, 'Courier New', Courier,
    monospace;
  --monospaceFontSize: 0.9rem;

  --logoFont: 'League Spartan';
  --logoWeight: bold;
  --logoLineHeight: 1;
  --logoFontSize: 4rem;
  --logoLeftCorrection: -4px;

  --smallFontSize: 0.85rem;

  --contentLineHeight: 1.5;

  --pageSpacing: 0.5rem;
  --maxContentWidth: 640px;
  --maxPageWidth: 760px;
  --sidebarWidth: 150px;

  --sidebarBreakpoint: calc(var(--maxContentWidth) + var(--sidebarWidth));

  --easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

html {
  --bodyFont: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --bodyFontSize: 1.125rem;
}

@supports (font-variation-settings: normal) {
  html {
    --bodyFont: 'Inter var', -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  }
}

@media screen and (min-width: 375px) {
  html {
    --headlineFontSize: 2.5rem;
    --h2FontSize: 1.8rem;
  }
}
